*{
    margin: 0;
    padding: 0;
}


.parent4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh;
    gap: 10px;
}
.child2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    gap: 10px;
}
.child2 a,
.child3 a {
    padding: 0 4vw;
}

.child2 p,
.child3 p {
    padding: 2vh;
}

.child3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    gap: 10px;
}
.parent5 {
    background-color: #6d48e5;
    color: white;
    padding: 14vh;
    gap: 8vh;
}

.pourcentage {
    display: flex;
    gap: 10vw;
}

.parent5,
.description,
.pourcentage div,
.link-p {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.description {
    padding-bottom: 10px;
    gap: 5px;
}

.link-p {
    font-size: 20px;
}

.description h1 {
    font-size: 30px;
    padding: 2vh;
}

.description h1,
.description p,
.pourcentage h1,
.pourcentage p,
.link-p a {
    color: white;
}

.pourcentage h1 {
    font-weight: bold;
    font-size: 90px;
   }

   .section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15vh;
}

.section2-description {
    display: flex;
    flex-direction: column;
    gap: 4vh;

}

.description2 {
    display: flex;
    justify-content: space-around;
}

.description2 h2 {
    font-size: 18px;
    color: rgb(54, 70, 85);
    padding: 1.5vh;
    font-size: 22px;
}

.description2 p {
    font-size: 15px;
    color: rgb(151, 166, 181);
    text-align: start;
    font-size: 17px;
}
