.parent4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh;
    gap: 10px;
}

.child2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    gap: 10px;
}

.child2 a,
.child3 a {
    padding: 0 4vw;
}

.child2 p,
.child3 p {
    padding: 2vh;
}

.child3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    gap: 10px;
}